/* reset code */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* product list code */
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.header {
  padding: 30px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

.footer{
  margin-top: auto;
}

.footer__inner {
  text-align: center;
  padding: 10px;
  border-top: 2px solid #000;
}

.form{
  display: inline;
  margin-left: 5px;
}

.product-items {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

.product-item {
  max-width: 300px;
  padding: 10px;
  border: 1px solid #000;
}

.product-info{
  margin: 20px 20px 30px;
  text-align: center;
}



/** page 2 */

.header__inner-btns{
  display: flex;
}

.header__inner-cancel{
  order: 2;
  margin-left: 5px;
}

.product__label {
  display: block;
  margin-bottom: 30px;
}

.product__input {
  padding: 0 15px;
}

.hide {
  display: none;
}

.product__form-top {
  margin: 50px 0;
}

.add_descr{
  margin-top: 30px;
}

.tab-1,
.tab-2,
.tab-3{
  margin-bottom: 30px;
}

@media (max-width: 900px){
  .product-items {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 620px){
  .product-items {
    grid-template-columns: repeat(1, 1fr);
  }
}